@import "./themes";

// Common styles

.crisp-client {
  --crisp-customization-container-index: 1000;
}

.ant-tree {
  --rc-virtual-list-scrollbar-bg: rgba(5, 5, 5, 0.2);

  &-treenode:not(&-treenode-disabled).filter-node &-title {
    color: inherit !important;
    font-weight: 500 !important;
  }
}

// Dark theme styles

.theme-dark {
  :where(.ant-dropdown, .ant-dropdown-menu-submenu) .ant-dropdown-menu {
    box-shadow: var(--box-shadow-lg);
  }

  .ant-tree {
    --rc-virtual-list-scrollbar-bg: rgba(253, 253, 253, 0.2);
  }
}
