@import "./variables";

// Basic scrollbar styles

::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 100px;
  height: 100px;
}

// Disable scroll when modal or drawer is opened

html,
body {
  overflow: visible;
}

html {
  body {
    background-color: var(--scrollbar-track-color);
  }

  &:has(.ant-drawer, .ant-modal) {
    overflow: hidden;
  }

  &.chrome {
    body:has(.ant-drawer, .ant-modal) {
      overflow: hidden;
      touch-action: none;
      width: calc(100% - var(--scrollbar-size));
    }
  }
}

// Scroll customizations for specific components

.ant-select-tree-list-holder,
.rc-virtual-list-holder {
  overflow: auto !important;
}

.ant-select-tree-list-scrollbar,
.rc-virtual-list-scrollbar {
  display: block !important;
  visibility: hidden;
}

.ant-select-tree-list-scrollbar-thumb-moving {
  display: block !important;
}
