.dw-breadcrumb.ant-breadcrumb {
  font-size: 20px;

  a {
    height: fit-content;

    &:hover {
      color: var(--ant-color-link-hover);
      background-color: inherit;
    }
  }

  .ant-breadcrumb-separator {
    display: inline-flex;
    margin: 0 12px;
  }
}
