.notifications-actions .dw-btn {
  margin-left: 8px;

  .ant-btn-icon svg {
    color: var(--primary-color);
    height: 14px;
  }

  & > span:not(.ant-btn-icon) {
    color: var(--drawer-selected-text-color);
  }

  &:hover > span:not(.ant-btn-icon) {
    color: var(--primary-color);
  }
}
