@import "./rtl";

.table-templates {
  position: relative;

  &__template {
    display: flex;
    align-items: center;
  }

  &__template-title {
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &--selected {
      font-weight: bold;
    }
  }

  &__value-unselect {
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
  }

  &__icon {
    color: var(--primary-color);
  }

  &__icon--create {
    margin: 5px;
    cursor: pointer;
    font-size: 17px;
  }

  &__icon--favorite {
    display: none;
    position: absolute;
    left: 8px;
  }

  &__icon--favorite-active {
    position: absolute;
    left: 8px;
  }

  &__icon--delete {
    display: none;
    margin-left: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 5px;
    border-top: 1px solid #ccc;
  }

  &__selector {
    .ant-select-selector {
      padding-top: 1px !important;
    }

    .ant-select-selection-item {
      margin-left: 4px;

      .table-templates__template-title {
        margin-left: 0;
        font-weight: normal;
      }

      .table-templates__icon--favorite-active {
        display: none;
      }
    }
  }

  &--selected {
    .ant-select-selector {
      background-color: var(--table-template-selected-color) !important;
    }
  }

  .ant-select-selector {
    border: none !important;
    background: transparent !important;
    width: 150px !important;
  }

  .ant-select-arrow {
    display: none !important;
  }
}

.ant-select-dropdown:has(.table-templates__dropdown) {
  padding: 0;
}

.table-templates__dropdown {
  .ant-select-item-empty {
    display: none;
  }

  div.table-templates__footer > input.ant-input.error-field {
    border-color: var(--ant-red);
  }

  .ant-select-item-option {
    border-radius: 0;

    &-active {
      .table-templates__icon--favorite {
        display: initial;
      }

      .table-templates__icon--delete {
        display: initial;

        &:hover {
          color: var(--ant-red);
        }
      }
    }
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .table-templates__icon--favorite {
    display: initial;
  }

  .table-templates__icon--delete {
    display: initial;
  }
}
