@import "@/styles/mixin/select-focus-outline";

.ant-select.client-select.ant-select-show-search.ant-select-single {
  width: 120px;
  padding-right: 4px;

  &,
  & * {
    color: var(--ant-color-white);
  }

  .select-focus-outline();

  .ant-select-selector {
    cursor: pointer;
    padding-right: 5px;
  }

  .ant-select-content {
    justify-content: end;
    text-align: right;
  }

  .ant-select-input {
    right: 16px;
    cursor: pointer;
  }

  .ant-select-suffix {
    margin-top: 2px;
    cursor: pointer;
  }

  &.ant-select-open .ant-select-input {
    cursor: text;
  }
}

.divider {
  height: 100%;
  border-right: 1px solid var(--divider-border-color);
  margin: 0 var(--ant-margin);
}
