.react-js-cron {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;

  .react-js-cron-field .ant-select-multiple {
    padding-left: 11px;

    .ant-select-content {
      flex-wrap: nowrap;

      &-item {
        white-space: nowrap;
      }

      &-item-suffix {
        margin: 0;
      }
    }

    .ant-select-placeholder {
      position: static;
      transform: unset;
      line-height: unset;
      width: unset;
      color: var(--select-color);
    }
  }
}

.react-js-cron-error {
  .react-js-cron-select {
    .ant-select {
      border-color: var(--ant-color-error);
    }
  }
}

.react-js-cron-custom-select {
  min-width: 70px;
  z-index: 1;
}

.react-js-cron-week-days-placeholder,
.react-js-cron-month-days-placeholder {
  .react-js-cron-custom-select {
    .ant-select-placeholder {
      color: var(--ant-color-text-placeholder) !important;
    }
  }
}

.react-js-cron-custom-select-dropdown {
  min-width: 0 !important;
  width: 174px !important;

  .rc-virtual-list {
    max-height: none !important;
  }
}

.react-js-cron-custom-select-dropdown-grid {
  .rc-virtual-list-holder {
    max-height: initial !important;
  }
  .rc-virtual-list-holder-inner {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);

    .ant-select-item-option-content {
      text-align: center;
    }
  }
}

.react-js-cron-custom-select-dropdown-hours-twelve-hour-clock {
  width: 260px !important;
}

.react-js-cron-custom-select-dropdown-minutes-large {
  width: 300px !important;

  .rc-virtual-list-holder-inner {
    grid-template-columns: repeat(6, 1fr);
  }
}

.react-js-cron-custom-select-dropdown-minutes-medium {
  width: 220px !important;

  .rc-virtual-list-holder-inner {
    grid-template-columns: repeat(5, 1fr);
  }
}

.react-js-cron-period {
  .react-js-cron-select {
    &.ant-select-single.ant-select-open {
      .ant-select-content-value {
        color: var(--select-color);
      }
    }
  }
}

.react-js-cron-select-dropdown-period {
  min-width: 0 !important;
  width: auto !important;
}
